<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/8e33160794.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/script/index.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap">
</head>

<body>
    <div class="container">
        <div class="search-box">
            <i class="fa-solid fa-location-dot"></i>
            <form action="/" method="post" onsubmit="return validateForm()">
                <input type="text" name="city" id="city" placeholder="Enter city" value="<%= success ? city : '' %>" />
                <button type="submit" class="fa-solid fa-magnifying-glass"></button>
            </form>
        </div>
        <div id="error" style="display: none; color: red;text-align: center;">Please enter a city</div>
        <% if (success === false) { %>
            <div class="not-found">
                <img src="/img/image.png" />
                <p>Oops!! Invalid location</p>
            </div>
        <% } else if (success === true) { %>
              <%  createChart(forecasts)%>
            <div class="weather-box">
                <div class="weather-img-desc">
                    <div class="weather-img">
                        <img src="<%= iconUrl %>" />
                    </div>
                    <div class="weather-temp-desc">
                        <p class="temperature">
                            <%= tempp %> °C
                        </p>
                        <p class="description">
                            <%= des %>
                        </p>
                    </div>
                </div>
                <div class="weather-details">
                    <div class="humidity">
                        <i class="fa-solid fa-water"></i>
                        <span>
                            <%= humidity %>%
                        </span>
                    </div>
                    <div class="wind">
                        <i class="fa-solid fa-wind"></i>
                        <span>
                            <%= windSpeed %> km/h
                        </span>
                    </div>
                </div>
            </div>
            <div class="forecast-container" id="forecastData">
                <% forecasts.forEach(forecast => { %>
                    <div class="forecast-day">
                        <p class="day"><%= forecast.dayOfWeek %></p>
                        <p class="date"><%= forecast.formattedDate %></p>
                        <img src="<%= forecast.icon %>" />
                    </div>
                <% }); %>
            </div>
        <% } %>
        <div id="chart"></div>
    </div>
</body>

</html>
